a {
    color: #FFFFFF;
    text-decoration: none;
}


ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.match-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.match-box-itens{
  display: flex;
  flex-direction: column;
}

.match-box-itens > span{
  margin: 5px 0px;;
  font-size: 12px;
}

.center-conteiner{
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.champ-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 50px;
}
