
.my-nav-bar{
  margin: -10px -10px 10px -10px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}


ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.match-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.match-box-itens{
  display: flex;
  flex-direction: column;
}

.match-box-itens > span{
  margin: 5px 0px;;
  font-size: 12px;
}

.center-conteiner{
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.box-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-basic-stats{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.champ-img{
  height: 65px;
  width: 65px;
}

.background{
  background-position:  center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../img/wallpaper.jpg');
  background-color: #ecf0f5;
}

.filter-input{
  width: 100%;
}

.venceu-text{
  font-size: 23px !important;
  color: green;
}
.perdeu-text{
  font-size: 23px !important;
  color: red;
}
