<div class="col-md-12">

  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="login-box">
      <div class="login-logo">
        <img src="../img/league_of_legends.png" width="328" height="328" alt="Dev4Life" class="img-responsive center-block">
      </div>
      <div class="login-box-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Summoner Name" ng-model="summoner" autocomplete="off" id="summoner">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-info btn-flat" ng-click="next(summoner)">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
