<div class="col-md-12">


    <img src="../img/league_of_legends.png" width="328" height="328" alt="Dev4Life" class="img-responsive center-block">

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="box box-info">
            <form class="form-vertical">
                <div class="box-body">
                    <div class="form-group">
                        <label for="summoner" class="col-sm-2 control-label">Summoner</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="summoner" placeholder="Summoner" ng-model="summoner">
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-info" style="width: 100%;" ng-click="next(summoner)">Como estou jogando?</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
